/* Layout */

body {
	margin: 0 auto;
	max-width: 1000px;
	text-align: left;
	height: 100%;
}

html {
	margin: 0;
	text-align: center;
	height: 100%;
}

#page {
	margin: 0 20px;
	padding-bottom: 30px;
}

#container {
	min-height: 100%;
}

footer {
	text-align: right;
	padding-right: 30px;
	height: 30px;
	margin-top: -30px;
	clear: both;
}

.achievement {
	border-style: solid;
	border-width: 1px;
	margin-bottom: 5px;
	padding: 10px
}

.achievementname {
	display: inline-block;
	position: relative;
	top: -30px
}

.achievementtext {
	position: relative;
	top: 20px;
	float: right;
	clear: both;
}

/* Colours */

body {
	color: #ccc;
	background-color: #191919;
}

html {
	background-color: #444;
}

header {
	background-color: #111111;
}

#container {
	color: #ccc;
        background-color: #191919;
}

footer {
	background-color: #111111;
}

.perkprogress div {
	background: #A18065;
}

/* Fonts */

body {
	font-size: 0.9em;
	font-family: Tahoma, Geneva, sans-serif;
}

/* Header */

header {
	width: 100%;
	padding-top: 30px;
	height: 60px;
}

/* Searchform */

#searchform {
	text-align: right;
	padding-right: 30px;
}
